@model WorkerBindingModel
@{
    Layout = null;
}
<li class="nav-item dropdown show">
    <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Do you work here?
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <form asp-controller="LogIn" asp-action="SignIn" method="post">
            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control dropdown-item" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <hr />
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control dropdown-item" id="exampleInputPassword1" placeholder="Password">
            </div>
            <hr />
            <div class="form-check">
                <a class="form-check-label dropdown-item">Forgoten Password?</a>
            </div>
            <button type="submit" class="btn btn-primary dropdown-item">LogIn</button>
        </form>
    </div>
</li>

